
@{
    ViewData["Title"] = "党建工作";
}

    <div class="banner banner-contact">
        <h3>党建工作</h3>
        <h4>Party Construction</h4>
        <hr />
        <nav>
            <a href="#">总支新闻</a>
            <a href="#">中央精神</a>
            <a href="#">理论学习</a>       
        </nav>
    </div>

    <div class="page page-party">
        <section class="s1 container">
            <div class="row recommend">
                <div class="col-md">
                    <a href="#" class="item active">
                        <img src="/img/temp/n1.jpg" alt="" />
                        <h3>放飞自我 行走马峦山</h3>
                    </a>
                </div>
                <div class="col-md-auto">
                    fsd
                </div>
                <div class="col-md-auto">
                    fsd
                </div>
            </div>
            <ul class="newslist">
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
            </ul>
            <div class="more">
                <a href="#">更多报道</a>
            </div>
        </section>
        <section class="s2 container">
            <div class="title title-section">
                <h2>中央精神</h2>
            </div>
            <ul class="newslist">
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
            </ul>
            <div class="more">
                <a href="#">更多报道</a>
            </div>
        </section>

        <section class="s3 container">
            <div class="title title-section">
                <h2>理论学习</h2>
            </div>
            <ul class="newslist">
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
                <li><a href="#">研究院总支部委员会及下属支部委员会召开换届选举党员大会</a> <time>2019.8.1</time></li>
            </ul>
            <div class="more">
                <a href="#">更多报道</a>
            </div>
        </section>
    </div>
