@model Page

@{
    ViewData["Title"] = "删除页面";
}

<div class="alert alert-danger"> 
    <i class="iconfont icon-close-circle-fill"></i>  您确定要删除此页面？
</div>
<div class="card">    
    <partial name="_DetailsView" model="Model" />
    <div class="card-footer text-center">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> 删除</button>
            <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-angle-left"></i> 返回</a>
        </form>
    </div>
    
</div>

@section  header{ 
 <style>
     .card-body label{
         display:inline-block; width:80px; color:#999;
     }
     .well{
         padding:1rem 2rem;
         background-color:#f7f7f7;
         margin-bottom:2rem;
     }
 </style>
}