@model Page

@{
    ViewData["Title"] = "页面详情";
}

<div class="card">
    <partial name="_DetailsView" model="Model" />
    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> 编辑</a>
        <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa fa-angle-left"></i> 返回</a>
    </div>

</div>
@section header{
    <style>
        .card-body label {
            display: inline-block;
            width: 80px;
            color: #999;
        }

        .well {
            padding: 1rem 2rem;
            background-color: #f7f7f7;
            margin-bottom: 2rem;
        }
    </style>
}