@model QNZ.Model.ViewModel.ProductCategoryIM

@{
    ViewData["Title"] = "Create";
}


<div class="row">

    <div class="col-md-4">
        <form asp-action="Create"  data-ajax-begin="onBeginSave" data-ajax-complete="onCompleteSave"
              data-ajax-failure="onFailed" data-ajax-success="onSuccessSave"
              data-ajax="true" data-ajax-method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ImageUrl" type="hidden" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTitle" class="control-label"></label>
                <input asp-for="SubTitle" class="form-control" />
                <span asp-validation-for="SubTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Importance" class="control-label"></label>
                <input asp-for="Importance" class="form-control" />
                <span asp-validation-for="Importance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InMenu" /> @Html.DisplayNameFor(model => model.InMenu)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Recommend" /> @Html.DisplayNameFor(model => model.Recommend)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="btnSave"><i class="fa fa-save"></i> 保存</button>
                <a asp-action="Index" class="btn btn-secondary">返回</a>
            </div>
        </form>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                分类图片
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="thumb" id="divThumb">
                        <i class="fa fa-picture-o fa-3x"></i>
                    </div>
                    <input type="file" id="files" hidden
                           name="files" />

                    <input type="button" class="btn btn-outline-primary btn-block mb-1"
                           id="upload"
                           value="上传图片" />

                </form>
                <p class="text-center">*图片尽寸：750*400像素</p>
            </div>
        </div>
    </div>
</div>




@section header{
    <style>
        .thumb {
            height: 160px;
            margin: 0 auto 1rem;
            padding-top: 3.5rem;
            cursor: pointer;
            background-color: #ddd;
            text-align: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
    </style>

}

@section footer {

    <script src="~/js/lib/jquery/plugins/jquery.validate.min.js"></script>
    <script src="~/js/lib/jquery/plugins/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/lib/jquery/plugins/jquery.unobtrusive-ajax.min.js"></script>


    <script>


        var modelName = "代理商";
        function onFailed() {
            toastr.error("操作失败！");
        }

        function onBeginSave() {
            $("#btnSave i").removeClass("fa-save").addClass("fa-spinner fa-spin");
        }
        function onCompleteSave() {
            $("#btnSave i").removeClass("fa-spinner fa-spin").addClass("fa-save");
        }


        function onSuccessSave(data) {
            if (data.status === 1) {
                var url = "@Url.Action("Index")";
                toastr.success(data.message);
                location.href = url;

            }
            if (data.status === 2) {
                toastr.error(data.message);
            }
            //Common.ShowBoxWithFuncBack(data, title, submitSuccess);

        }



        $(function () {

            $("#divThumb").click(function () {
                $('input[type="file"]').click();
            });
            $('input[type="file"]').change(function () {
                readURL(this);
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        // $('#blah').attr('src', e.target.result);
                        $("#divThumb").css({ "background-image": "url(" + e.target.result + ")" });
                        $("#divThumb i").remove();
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }



            $("#upload").click(function (evt) {
                var fileUpload = $("#files").get(0);
                var files = fileUpload.files;
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UploadAsync")",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (message) {
                        //alert(message);
                        $("#ImageUrl").val(message);
                        toastr.success("照片已上传到服务器。");
                    },
                    error: function () {
                        //alert("There was error uploading files!");
                        toastr.error("上传文件失败");
                    }
                });
            });


        });
    </script>
}