@using System;
@{
    ViewData["Title"] = "联系我们_高端网站建设哪家好_深圳网站设计_用户体验设计_小程序开发_APP开发_公众号开发";

}
@section Header{
    <meta name="keywords" content="网站制作公司,网站建设公司哪家好,网站建设哪家公司好,小程序开发,响应式网站">
    <meta name="description" content="黑鸟志拥有多年的网站建设经验，网站建设公司哪家好,手机网站建设，小程序开发，网站建设哪家公司好首选深圳黑鸟志。">

}


<div class="banner banner-about">
    <img src="/assets/img/temp/banner-contact.jpg" alt="联系我们">
    <div class="txt">
        <div class="container">
            <h1>联系我们</h1>
        </div>
    </div>
</div>
<div class="page page-contact">
    <section class="s1 container">
        <div class="submenu"><a class="active" href="contact.html">联系我们</a><a href="branch.html">分子公司</a></div>
        <div class="contact row">
            <div class="col-md">
                <div class="item">
                    <div class="row align-items-center">
                        <div class="col-auto col-md-12">
                            <div class="icon1">
                                <div class="icon2">
                                    <div class="icon3">
                                        <div class="iconfont icon-zuoji"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <h4>联系电话</h4>
                            <p>0392-2298000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="item">
                    <div class="row align-items-center">
                        <div class="col-auto col-md-12">
                            <div class="icon1">
                                <div class="icon2">
                                    <div class="icon3">
                                        <div class="iconfont icon-youxiang"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <h4>邮箱</h4>
                            <p>info@sjphotons.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="item">
                    <div class="row align-items-center">
                        <div class="col-auto col-md-12">
                            <div class="icon1">
                                <div class="icon2">
                                    <div class="icon3">
                                        <div class="iconfont icon-marker"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-md-12">
                            <h4>地址</h4>
                            <p>河南省鹤壁国家经济技术开发区延河路201号</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="baidumap wow fadeInUp" id="baidumap"></div>
    </section>
    <section class="s2 section">
        <div class="container">
            <div class="title-section">
                <h2 class="text-center">给我们留言</h2>
            </div>
            <form class="quoteform" action="#">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <i class="iconfont icon-user"></i>
                            <input class="form-control" type="text" name="name" placeholder="姓名">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <i class="iconfont icon-gongwenbao-copy"></i>
                            <input class="form-control" type="text" name="company" placeholder="公司">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <i class="iconfont icon-youxiang"></i>
                            <input class="form-control" type="text" name="email" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <i class="iconfont icon-homephone"></i>
                            <input class="form-control" type="text" name="phone" placeholder="电话">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <i class="iconfont icon-tagkaobei"></i>
                            <input class="form-control" type="text" name="subject" placeholder="主题">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <i class="iconfont icon-neirong"></i>
                    <textarea class="form-control" name="message" cols="30" rows="10" placeholder="内容"></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </form>
        </div>
    </section>
</div>





@section Scripts
    {
    <script language="javascript" src="http://api.map.baidu.com/api?v=2.0&ak=G7h0sKsr60IFU3OrHRmKTRzD"></script>

    <script>
        // 百度地图API功能
        var map = new BMap.Map("baidumap");


        map.addControl(new BMap.NavigationControl());
        map.enableScrollWheelZoom(); //启用滚轮放大缩小，默认禁用
        map.enableContinuousZoom(); //启用地图惯性拖拽，默认禁用

        map.centerAndZoom(new BMap.Point(114.081866, 22.654657), 16);
        var point = new BMap.Point(114.081866, 22.654657);

        //var myIcon = new BMap.Icon("/assets/img/marker.png", new BMap.Size(132, 132));
        //var marker1 = new BMap.Marker(point, {
        //    icon: myIcon
        //}); 

        var marker = new BMap.Marker(point);

        map.addOverlay(marker); // 将标注添加到地图中
        // marker1.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        var sContent =
            "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>@SettingsManager.SiteInfo.SiteName</h4>" +
            "<p>地址：深圳市龙华新区清湖花园 <br/>" +
            "电话：15361828193</p>" +
            "</div>";


        //创建信息窗口
        var infoWindow1 = new BMap.InfoWindow(sContent);
        marker.addEventListener("click", function () {
            this.openInfoWindow(infoWindow1);
        });



    </script>
}
