@using System;
@{
    ViewData["Title"] = "联系我们_高端网站建设哪家好_深圳网站设计_用户体验设计_小程序开发_APP开发_公众号开发";

}
@section Header{
    <meta name="keywords" content="网站制作公司,网站建设公司哪家好,网站建设哪家公司好,小程序开发,响应式网站">
    <meta name="description" content="黑鸟志拥有多年的网站建设经验，网站建设公司哪家好,手机网站建设，小程序开发，网站建设哪家公司好首选深圳黑鸟志。">

}
<div class="page-contact">

    <section class="section1">
        <header class="se-header">
            <h3>联系我们</h3>
            <p>contact us</p>
        </header>
        <div class="form-contact">
            <form action="#">
                <div class="input-group">
                    <i class="iconfont icon-user"></i>
                    <input type="text" name="name" placeholder="您的姓名">
                </div>
                <div class="input-group">
                    <i class="iconfont icon-phone"></i>
                    <input type="text" name="phone" placeholder="您的联系方式">
                </div>
                <div class="input-group">
                    <i class="iconfont icon-email1"></i>
                    <input type="email" name="email" placeholder="您的邮箱">
                </div>
                <textarea name="message" placeholder="您的需求" rows="6"></textarea>
                <div class="actions">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-default">重设</button>
                </div>
            </form>
        </div>
        <img src="img/bird_call.png" class="bird" alt="">
    </section>

</div>


<div class="baidumap" id="map_canvas">

</div>
<div class="page-contact">
    <section class="section2">
        <div class="contact-info">

            <ul>
                <li><span>联系人：</span>童柱港</li>
                <li><span>QQ：</span>13212847</li>
                <li><span>邮t箱：</span>twotong@gmail.com</li>
            </ul>
            <div class="qrcode">
                <img src="img/qrcode.jpg" alt="微信公众号">
            </div>
        </div>

    </section>
</div>


@section Scripts
    {
    <script language="javascript" src="http://api.map.baidu.com/api?v=2.0&ak=G7h0sKsr60IFU3OrHRmKTRzD"></script>

    <script>
        // 百度地图API功能
        var map = new BMap.Map("map_canvas");


        map.addControl(new BMap.NavigationControl());
        map.enableScrollWheelZoom(); //启用滚轮放大缩小，默认禁用
        map.enableContinuousZoom(); //启用地图惯性拖拽，默认禁用

        map.centerAndZoom(new BMap.Point(114.081866, 22.654657), 16);
        var point = new BMap.Point(114.081866, 22.654657);

        var myIcon = new BMap.Icon("img/marker.png", new BMap.Size(132, 132));
        var marker1 = new BMap.Marker(point, {
            icon: myIcon
        }); // 创建标注
        // var marker1 = new BMap.Marker(point);

        map.addOverlay(marker1); // 将标注添加到地图中
        // marker1.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        var sContent =
            "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>黑鸟志</h4>" +
            "<p>地址：深圳市龙华新区清湖花园 <br/>" +
            "电话：15361828193</p>" +
            "</div>";


        //创建信息窗口
        var infoWindow1 = new BMap.InfoWindow(sContent);
        marker1.addEventListener("click", function () {
            this.openInfoWindow(infoWindow1);
        });

        // marker1.openInfoWindow(infoWindow1);
        changeMapStyle('grayscale')
        //  sel.value = 'grayscale';

        function changeMapStyle(style) {
            map.setMapStyle({
                style: style
            });
            //$('#desc').html(mapstyles[style].desc);
        }




        $(document).ready(function () {
            $(".nav__list li:nth-of-type(5)").addClass("active");
        });

    </script>
}
