
.footer-bar {
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;

    @include respond-above(sm) {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    @include respond-above(md) {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    @include respond-above(lg) {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    @include respond-above(xlg) {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
}
.site-footer {
    background: $color-primary;
    overflow: hidden;
    text-align: center;
    color: #fff;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size:1rem;

    @include respond-above(sm) {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    @include respond-above(md) {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }

    @include respond-above(lg) {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }

    @include respond-above(xlg) {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }

    a {
        color: #fff;
        display: inline-block;
        position: relative;

        &::after {
            content: " ";
            display: block;
            border-top: transparent 1px dotted;
        }

        &:hover {
            &::after {
                border-top: #fff 1px dotted;
            }
        }
    }

    nav {
        a {
            margin: 0 .8rem;
        }
    }

    p {
        span {
            margin-left: .5rem
        }
    }
}

.qqservice {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2000;    
}

.totop {
    display: block;
    width: 45px;
    height: 45px; 
    line-height: 43px;
    border: 1px solid #000;   
    text-align: center;
    transition: all .2s;
    background-color: #fff;
    color: #000;
    @include respond-above(md) {
        width: 60px;
        height: 60px; 
        line-height: 56px;
        border: 2px solid #000;  
     }
    .iconfont{
        font-size: 22px;
        @include respond-above(md) {
            font-size: 28px;
         }
    }
   

    @include hover {
        border-color: $color-primary;  
        color:  $color-primary;  
    }

    @include respond-above(sm) {
        bottom: 2rem;
        right: 2rem;
    }
}
