.page-news{
    padding-top: rem(100);
    @include respond-above(sm) {
        padding-top: rem(140);
    }
    @include respond-above(md) {
        padding-top: rem(170);
    }
    @include respond-above(lg) {
        padding-top: rem(200);
    }
}
.page-news-detail{
    padding-top: rem(100);
    @include respond-above(sm) {
        padding-top: rem(140);
    }
    @include respond-above(md) {
        padding-top: rem(170);
    }
    @include respond-above(lg) {
        padding-top: rem(200);
    }
    .article{
        text-align: justify;
        .title-article{
            margin-bottom: 1rem;
            @include respond-above(sm) {
                margin-bottom: 2rem;
            }
            @include respond-above(md) {
                margin-bottom: 3rem;
            }
            h2{
                font-size: 24px;
                color: #222222;
                margin-top: 0;   
                @include respond-above(sm) {
                    font-size: 30px;
                }
                @include respond-above(md) {
                    line-height: 1; font-size: 36px;
                }
            }
           
        }
        .note{
            color: #999;
            border-bottom: 1px #eee solid;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            font-size: rem(14);
            @include respond-above(sm) {
                font-size:1rem;
                margin-bottom: 2rem;padding-bottom: 2rem;
            }
            @include respond-above(md) {
                margin-bottom: 3rem;
            }
            .share{
                @include respond-above(md) {
                    text-align: right;
                }
            }
            strong{
                color:$color-primary;
                font-weight: normal;
            }
        }
    }
    .box-arrow{
        background-color: #f7f7f7;
        padding: 1rem 1.5rem;
        border-top: 3px $color-primary solid;
      
        margin-bottom: 2rem;
        @include respond-above(md) {
            margin-left: 1.5rem;   margin-bottom: 3rem;
        }
        h3{
            font-size: rem(20);
            position: relative;
            padding-bottom: 1.3rem;
            font-weight: bold;
         
            &::before{
                display: block;
                content: " ";
                position: absolute;
                width: 20px;height: 2px;
                bottom: 0;
                left: 0;z-index: 100;
                background-color:$color-primary;
            }
        }
        .more{
            color: $color-primary;
            transition: all .25s;
            display: block;
            &:hover{
                margin-right: 3rem;
            }
        }
    }
}
