

<footer class="site-footer">

    Copyright &copy; 2012-2019 黑鸟志 All rights reserved. 工信部备案号：
    <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备13057252号-1</a>

</footer>

<a href="javascript:void();" class="backtop" id="totop" title="返回顶部">
    <img src="~/img/totop.png" alt="">
</a>
<audio src="~/img/wuyajiao.mp3" id="myMusic"></audio>