<header class="site-header" id="site-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-auto"><a class="logo" href="/"><img src="/assets/img/logo.png" alt=""></a></div>
            <div class="col">
                @await Component.InvokeAsync("SiteNav", new { categoryId = 1 })               
            </div>
            <div class="col-auto search"><a id="btnSearch" href="javascript:void(0);"><i class="iconfont icon-search"></i></a></div>
            @*<div class="col-auto langs"><a href="http://www.sjphotons.com/"><img src="/assets/img/cn.png" alt="中文"></a><a href="http://en.sjphotons.com/"><img src="/assets/img/en.png" alt="English"></a></div>*@
            <div class="col-auto mobilemenu">
                <div class="menu-toggle">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlysearch" id="overlySearch">
        <div class="searchbox">
            <div class="container">
                <form action="/search" method="get">
                    <div class="row align-items-center">
                        <div class="col">
                            <input id="keyword" type="search" name="keyword" placeholder="请输入您要搜索的内容" required="required">
                        </div>
                        <div class="col-auto">
                            <button type="submit">搜索</button>
                        </div>
                    </div>
                </form><a class="btnclose" id="btnClose" href="javascript:void(0);"><i class="iconfont icon-close"></i></a>
            </div>
        </div>
    </div>
    <div class="menu-over" id="overmenu">
        @await Component.InvokeAsync("SiteNavMobile", new { categoryId = 1 })
    </div>
</header>