<div class="site-logo">
    <a href="/" title="深圳网站建设，深圳网页设计，深圳网站制作，深圳网站设计，深圳营销型网站建设"><i class="iconfont icon-logo"></i></a>
</div>

<div class="menu-icon">
    <span class="menu-icon__line menu-icon__line-left"></span>
    <span class="menu-icon__line"></span>
    <span class="menu-icon__line menu-icon__line-right"></span>
</div>

<div class="nav">
    <div class="nav__content">
        <ul class="nav__list">
            <li class="nav__list-item"><a asp-controller="Home" asp-action="Index">首页</a></li>
            <li class="nav__list-item"><a asp-controller="Work" asp-action="Index">案例</a></li>
            <li class="nav__list-item"><a asp-controller="Posts" asp-action="Index">博客</a></li>
            <li class="nav__list-item"><a asp-controller="About" asp-action="Index">关于</a></li>
            <li class="nav__list-item"><a asp-controller="Contact" asp-action="Index">联系</a></li>
        </ul>
    </div>
</div>