
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QNZCMS</title>
    <link href="~/fonts/iconfont.css" rel="stylesheet" />
    <link href="~/css/common/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.min.css?d=2019">

</head>
<body>
    <partial name="_header" />


    @RenderBody()


    <div class="footer-bar">
        <img src="~/img/1x/logo-m.png" alt="logo" />
    </div>
    <footer class="site-footer">
        <div class="container">
            <nav><a href="#">Cosite共享</a><a href="#">网站导航</a><a href="#">相关链接</a></nav>
            <p>
                地址：深圳高新技术产业园深圳清华大学研究院A402室 <span>邮编：518057</span><br />
                copyright &copy; 2019深圳清华大学研究院 all rights reserved <span><a href="http://www.beian.miit.gov.cn/">粤ICP备7000681号</a></span><br />
                Design by: <a href="//inholy.com">Holy荷勒</a>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
