@{
    ViewData["Title"] = "Home Page";
    ViewBag.HeaderClassName = "home_header";
}

    <div class="banner-home" style="background-image:url('/img/banner/home-80.jpg')">
        
    </div>


    <div class="page-home">
        <section class="s1 container" style="background-image:url('/img/1x/photo01-80.jpg')">
            <div class="intro">
                <h2 class="title">
                    关于研究院
                </h2>
                <p>
                    研究院是深圳市政府和清华大学于1996年12月共建的、以企业化方式运作的事业单位，双方各占50%股份，实行理事会领导下的院长负责制。研究院恪守着清华“自强不息，厚德载物”的校训，秉承了深圳“敢闯敢试，兼容并蓄”的精神，以体制机制创新为核心，在实践中形成了独具特色的发展理念，确立了行之有效的发展战略。
                </p>
                <a href="/about" class="more">了解更多</a>
            </div>
        </section>
       
        <section class="s2 container">
            <div class="row no-gutters">
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="item">
                        <img src="~/img/temp/n1-80.jpg" alt="title" />
                        <div class="txt">
                            研究院总支部委员会及下属支部委员会召开换届选举党员大会
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="item">
                        <img src="~/img/temp/n1-80.jpg" alt="title" />
                        <div class="txt">
                            研究院总支部委员会及下属支部委员会召开换届选举党员大会
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="item">
                        <img src="~/img/temp/n1-80.jpg" alt="title" />
                        <div class="txt">
                            研究院总支部委员会及下属支部委员会召开换届选举党员大会
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a  asp-controller="News" asp-action="Index" class="item item1">                       
                        <div class="txt1">
                            <h2>新 闻</h2>
                            <div class="more">了解更多</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="item">
                        <img src="~/img/temp/n1-80.jpg" alt="title" />
                        <div class="txt">
                            研究院总支部委员会及下属支部委员会召开换届选举党员大会
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="item">
                        <img src="~/img/temp/n1-80.jpg" alt="title" />
                        <div class="txt">
                            研究院总支部委员会及下属支部委员会召开换届选举党员大会
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="item">
                        <img src="~/img/temp/n1-80.jpg" alt="title" />
                        <div class="txt">
                            研究院总支部委员会及下属支部委员会召开换届选举党员大会
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="item">
                        <img src="~/img/temp/n1-80.jpg" alt="title" />
                        <div class="txt">
                            研究院总支部委员会及下属支部委员会召开换届选举党员大会
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a href="#" class="item">
                        <img src="~/img/temp/n1-80.jpg" alt="title" />
                        <div class="txt">
                            研究院总支部委员会及下属支部委员会召开换届选举党员大会
                        </div>
                    </a>
                </div>
            </div>
        </section>
        
    </div>