$colorPrimary: #563d7c;

$colorAssistant: #007bff;
$colorInfo: #09f;
$colorDanger: #FF263E;
$colorBorder: #ddd;

$colorLink: $colorPrimary;
$colorTitle:$dark;
$colorText: $gray;
$colorTextWeak: $light;

h1,h2,h3,h4,h5,h6{
    color:#333;
}