@model int
@{
    if (Model == 404)
    {
        ViewData["Title"] = "未找到页面";
    }
    else
    {
        ViewData["Title"] = "服务器错误";
    }

}

 @if(Model == 404)
{
    <figure style="padding-top:5rem;">
        <img src="~/img/404.svg" alt="未找到页面" />
    </figure>
}
else
{
    <div class="alert alert-danger">
        服务器错误
    </div>
}