@model QNZ.Model.Front.ErrorVM
@{
    if (Model.StatusCode == 404)
    {
        ViewData["Title"] = "未找到页面";
    }
    else
    {
        ViewData["Title"] = "服务器错误";
    }

}

@if (Model.StatusCode == 404)
{
    <div class="container">
       @Html.Raw(WebUtility.HtmlDecode(Model.PageDetail.Body))
    </div>
}
else
{
    <div class="container">
        @Html.Raw(WebUtility.HtmlDecode(Model.PageDetail.Body))   
    </div>
}
