.validation-summary-errors {
    background-color: #feeded;
    border: 1px #fcd6d6 solid;
    padding: 8px;
    color: $colorDanger;
    margin: 0 -15px 15px;
    ul {
        margin-bottom: 0;
    }
}


