
.leftcol {
    background-color: darken($colorPrimary,15%);
    grid-column: 1;

    .logo {
        text-align: center;
        text-align: center;
        padding: 15px;
        background-color:$colorPrimary;
        border-bottom: 1px darken($colorPrimary,10%) solid;

        img {
            max-height: 51px;
            max-width:100%;
        }
    }
}
.navbar {
   
    height: 50px;
    background-color: $dark;
    position: relative;

    .navbar-toggler {
        position: absolute;
        height: 50px;
        width: 50px;
        border: none;
        background-color: transparent;
        color: white;
    }

    .navbar-nav {
        @include reset-list;

        li {
            display: inline-block;

            a {
                display: block;
                height: 50px;
                line-height: 50px;
                padding: 0 1rem;
                color: $light;

                &:hover {
                    color: white;
                }
            }
        }

        &.navbar-nav-right {
            text-align: right;
        }
    }
}

nav#menu .mainmenu {
    border-top: 1px lighten($colorPrimary,10%) solid;
    @include reset-list;

    & > li {
        font-size: .875rem;
        background-color: $colorPrimary;
        border-bottom: 1px darken($colorPrimary, 5%) solid;

        a {
            padding: .7rem .6rem;
            text-decoration: none;
            position: relative;
            display: block;
            color: lighten($colorPrimary,40%);

            & > i {
                margin-right: .3rem;
            }



            i.haschild {
                float: right;
                margin-top: .08rem;
                font-weight: normal;
                font-size: 1rem;
                display: inline-block;
                transition: all .1s;
            }

            &:hover {
                color: white;

                i.haschild {
                    color: white;
                    transform: rotate(90deg);
                }
            }
        }

        &.active {
            a {
                color: #fff;

                &:hover {
                    color: #fff;
                }

                &::after {
                    display: block;
                    content: " ";
                    position: absolute;
                    top: 1rem;
                    right: 0;
                    width: 0;
                    height: 0;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    border-right: 6px solid #fff;
                }
            }
        }

        ul.submenu {
            display: none;
            background-color: darken($colorPrimary, 10%);

            li {
                a {
                    padding: .5rem .6rem;
                }

                &.active {
                    a {
                        color: #fff;

                        &::after {
                            display: block;
                            content: " ";
                            position: absolute;
                            top: .8rem;
                            right: 0;
                            width: 0;
                            height: 0;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-right: 6px solid #fff;
                        }
                    }
                }
            }
        }

        &.nav-open {
            background-color: darken($colorPrimary, 5%);

            ul.submenu {
                display: block;
            }
        }

        &.level2 {
            padding-left: 20px;
            display: none;
            background-color: #111;
            //  border-left: 3px solid $colorPrimary;
            a {
                color: #999;

                &:hover {
                    color: #fff;
                }

                &.active {
                    color: #fff;
                }
            }
        }
    }
}

