@font-face {
    font-family: Roboto_Black;
    src: url('../fonts/ROBOTO/ROBOTO-BLACK.TTF');
   
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/ROBOTO/ROBOTO-BOLD_0.TTF');
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/ROBOTO/ROBOTO-LIGHT.TTF');
    font-weight: lighter;
}
@font-face {
    font-family: Roboto;
    src: url('../fonts/ROBOTO/ROBOTO-REGULAR.TTF');
}
html{
    height:100%;width:100%;
}
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #333;
    font-family: '宋体',"Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

   
    @include respond-above (md) {
        font-size: rem(20);
    }

    @include respond-above (lg) {
        font-size: rem(22);
    }

    @include respond-above (xlg) {
        font-size: rem(24);
    }
}

a {
    background: transparent;
    color: #333;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
}

img {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: '宋体',"Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

input,textarea,button{
    font-family: "Microsoft YaHei", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}



.table-responsive{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.container{
    @include respond-above (xlg) {
        max-width: 1450px;
    }
}

.page {
    overflow: hidden;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond-above (sm) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    @include respond-above (md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    @include respond-above (lg) {
        padding-top: rem(70);
        padding-bottom: rem(70);
    }
    @include respond-above (xlg) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
 
}

.title {
    color: $color-text-heading;
    font-weight: normal;
}

.list {
    margin-bottom: 1rem;
}

.banner {
    height: 240px;
    background-position: center top;
    background-repeat: no-repeat;
    margin-top: 135px;
    text-align: center;
    padding-top: 3rem;
    color: #fff;

    &.banner-about {
        background-image: url(../img/banner/about.jpg);
    }

    &.banner-contact {
        background-image: url(../img/banner/contact.jpg);
    }

    &.banner-cooperation {
        background-image: url(../img/banner/cooperation.jpg);
    }

    &.banner-join {
        background-image: url(../img/banner/join.jpg);
    }

    &.banner-achievements {
        background-image: url(../img/banner/achievements.jpg);
    }

    h3 {
        font-size: rem(34);
        font-weight: bold;
        margin: 0;
    }

    h4 {
        font-size: rem(12);
        margin: 0;
    }

    hr {
        border: none;
        border-top: 1px #eee solid;
        width: 200px;
        margin: 1rem auto;
    }

    nav {
        a {
            font-size: rem(20);
            margin: 0 1rem;
            color: #fff;
            font-weight: bold;
        }
    }
}


.title-section {
    border-left: 5px $color-primary solid;
    margin-bottom: 1.5rem;
    padding-left: 1rem;

    @include respond-above(sm) {
        margin-bottom: 3rem;
    }

    h2 {
        font-size: rem(24);
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bold;
        line-height:1;

        @include respond-above(sm) {
            font-size: rem(32);
        }

        @include respond-above(md) {
            font-size: rem(40);
        }

        @include respond-above(lg) {
            font-size: rem(48);
        }

        @include respond-above(lg) {
            font-size: rem(56);
        }
    }
}

.title-small{
    text-align: center;
    color: $color-primary;
    font-size: 1rem;
}
.title-v1{
    text-align: center;
    font-weight:bold;
    font-size: rem(34);
    margin-bottom:3rem;
}
.title-v2{   
    color: $color-text-heading;  font-size: rem(34);
    &::after{
        content:" ";
        display:block;
        height:5px;
        background-color:$color-primary;
        width:330px;
    }
}
.title-v3{   
    text-align: center;color: $color-primary;  font-size: rem(20);
}
.s6-links {
    background: $color-primary url(../img/map_03.jpg) no-repeat center center;
    background-size: cover;
  
    color: #FFFFFF;
    padding-bottom: 1rem;
    padding-top: 3rem;
    @include respond-above(sm) {
        padding-bottom: 2rem;
        padding-top: 4rem;
    }
    @include respond-above(md) {
        padding-bottom: 3rem;
        padding-top: 5rem;
    }
    @include respond-above(lg) {
        padding-bottom: 4rem;
        padding-top: 6rem;
    }


    .txt{
    
        margin-bottom: 2rem;
        @include respond-above(md) {
            width: 450px;
        }
        h3{
            font-size: rem(28);
            position: relative;
            margin-top: 0;
            padding-top: 1rem;
            margin-bottom: 0;
            @include respond-above(sm) {
                font-size: rem(32);
            }
            @include respond-above(md) {
                font-size: 36px;
            }
            &::before{
                display: block;
                content: " ";
                position: absolute;
                width: 20px;height: 4px;
                top: 0;
                left: 0;z-index: 100;
                background-color: #fff;
            }
        }
        p{
            margin-top: .5rem;
            font-size: rem(12);
            @include respond-above(md) {
                font-size: 1rem;
            }
        }
    }
    .links{
        a{
            display: block;background-color: #fff; border-radius: 3px;
            margin-bottom: 30px;
            img{
                display: block;
            }
        }
    }
}

.subnav{
    text-align: center;
    margin:0 auto 3rem;
    max-width: 880px;  border-bottom: 1px $color-primary solid;
    padding-bottom: 1rem;
    @include respond-above(sm) {
        margin-bottom: 4rem;   
         padding-bottom: 0;
    }

    @include respond-above(md) {
        margin-bottom: 5rem;
    }
    @include respond-above(lg) {
        margin-bottom: 6rem;
    }
    nav{           
      
        a{
            display: block;           
            padding: .2rem 1rem;
            margin:0 .2rem .4rem;
            border-radius: 15px; background-color: #eeeeee;
            font-size: rem(14);
            @include respond-above(sm) {
                font-size: 20px;
                height: 90px;background-color: transparent;
            }
            &.active{
                background-color: $color-primary;color: #fff;
                @include respond-above(sm) {
                    background: url(../img/menu_active.png) no-repeat center bottom;color: $color-primary;
                }
            }
            &:hover{
                color: $color-primary;
            }
        }
    }
    
}


.list-articles{
    margin-bottom: 1rem;
    @include respond-above(sm) {
        margin-bottom: 2rem;
    }
    @include respond-above(md) {
        margin-bottom: 3rem;
    }
    .item{
        border-bottom: 1px #f7f7f7 solid;
        padding-top: 2rem;
        padding-bottom: 2rem;
        .category{
            color: #aaa;
            font-size: rem(14);
            @include respond-above(sm) {
               margin-top: 0;
            }
        }
        h3{
            font-size: 20px;
            color: #222222;
        }
        p.summary{
            color: #666;
            text-align: justify;
        }
        .date{
            color: #999;
        }
        .view{
            color:$color-primary;
            text-align: right;
        }
    }
    .pic{
        display: block;
    
      
        @include respond-above(sm) {
            width: 200px; 
        }
        @include respond-above(md) {
            width: 280px;  margin-right: 5rem;
        }
        img{
            display: block;
            width: 100%;
          
        }
    }
}