.page-opensource {
    .projects {
        @include reset-list();
        margin-bottom: 3rem;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 .5rem;

            a {
                display: block;
                padding: .6rem 1.2rem;
                text-decoration: none;

                &.active {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }

    .banner-os {
        background-color: #fff;
        text-align: center;
        padding-top: 5rem;
        margin-bottom: 5rem;

        .txt {
            text-align: center;
            margin-bottom: 3rem;
            color: #fff;

            h2 {
                font-size: rem(24);
            }

            .links {
                padding-top: 2rem;

                a {
                    display: inline-block;
                    padding: .5rem 1.5rem;
                    background-color: #fff;
                    border-radius: 1.5rem;
                    margin: 0 .5rem;
                    text-decoration: none;

                    &:hover {
                        box-shadow: 0 0 15px rgba(0,0,0,.15)
                    }
                }
            }
        }

        img {
            display: block;
            margin: 0 auto;
            max-height: 400px;
            box-shadow: 0 0 15px rgba(0,0,0,.15)
        }
    }

    .box {
        background-color: #fff;
        border: 1px #eee solid;

        .box-header {
            padding: .6rem 1rem;
            border-bottom: 1px #eee solid;
        }

        .box-body {
            padding: 1rem 2rem;
        }

        ul {
            li {
                margin-bottom: .8rem;
            }
        }
    }

    .row {
        .col-md-auto {
            height: 100%;
        }
    }

    .nav-os {
        background-color: #f7f7f7;
        height: 100%;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: sticky;

            li {
                a {
                    display: block;
                    padding: 1rem;
                    color: #333;
                    font-size: rem(14);

                    &.active {
                        background-color: #000;
                        color: #fff;
                    }

                    &:hover {
                        text-decoration: none;
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }

    .content {
        p {
            text-indent: 2em;
        }
    }

    .oslist {
        margin-bottom: 1rem;

        .box {
            padding: 1rem;
            background-color: #fff;
            box-shadow: 0 0 16px rgba(0,0,0,.10);
            text-align: center;

            a {
                .iconfont {
                    font-size: 2rem;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }


    .gradient {
        background-color: red;
        background-image: url(#place one here if you want);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        animation: hueshift 12s linear infinite;
    }

    @keyframes hueshift {
        0% {
            background-color: hsl(0deg, 50, 50);
        }

        50% {
            background-color: hsl(180deg, 50, 50);
        }

        100% {
            background-color: hsl(360deg, 50, 50);
        }
    }
}
