.page-party {
    section{
        margin-bottom:5rem;
    }
    .recommend {
        margin-bottom: 5rem;

        .item {
            max-width: 784px;
            position: relative;

            h3 {
                background: #642F83;
                background: rgba(100, 47, 131, .8);
                filter: alpha(opacity=80) progid:DXImageTransform.Microsoft.Alpha(opacity=80);
                font-size: rem(34);
                color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 100;
                padding: .5rem rem(30);
                margin: 0;
                width: 100%;
            }
        }
    }

    .newslist {
        @include reset-list();
        margin-bottom: 3rem;

        li {
            border-bottom: 1px #666 solid;
            position: relative;

            a {
                display: block;
                padding: 2.5rem 0;
            }

            time {
                position: absolute;
                right: 0;
                z-index: 10;
                top: 2.8rem;
                font-size: 1rem;
                color: #999;
            }
        }
    }

    .more {
        a {
            display: block;
            border-style: Solid;
            border-color: #595757;
            border-width: 1px;
            width: 159px;
            height: 43px;
            line-height: 41px;
            margin: 0 0 0 auto;
            text-align: center;
            font-size: 1rem;

            &:hover {
                background-color: $color-primary;
                color: #fff;
                border-color: $color-primary;
            }
        }
    }
}
