.box {
    background-color: #fff;
    overflow: hidden;
    border-radius: .4rem;
    border: 1px #ccc solid;
    .box-header {
        background-color: #345067;
        color: #fff;
        height: 36px;
        position: relative;
        h3 {
            margin: 0;
            padding: 0;
            line-height: 36px;
            font-size: 18px;
            font-size: 1.8rem;
            font-weight: normal;
            padding-left: 8px;
        }
    }
}

.box .box-header .box .box-header .control {
    position: absolute;
    height: 36px;
    right: 0;
    top: 0;
}

.box .box-header .control a {
    display: block;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    float: left;
    color: #fff;
    border-left: 1px #49708f solid;
}

.box .box-header .control a.compress {
    display: none;
}

.box .box-body {
    padding: 1rem;
}

.box .box-body .box-toolbar {
    padding: 15px 15px;
}

.box .box-body .box-table {
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    margin: 0;
}

.box .box-body .box-table th {
    background-color: #f7f7f7;
}

.box .box-footer {
    padding: 15px 15px 10px;
    border: 1px #ccc solid;
    border-top: none;
}

.box .box-footer .pagination {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .box .box-footer .table-pager {
        text-align: center;
    }
}

.box .box-footer .table-pager .pagecount {
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .box .box-footer .table-pager .pagecount {
        text-align: center;
    }
}

.box-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5000;
    top: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.abtn {
    border: 1px #d5d5d5 solid;
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    color: #555555;
    background-color: #eeeeee;
}

.abtn:hover {
    border: 1px #bbbbbb solid;
    background-color: #ffffff;
    color: #222222;
}

.abtn-primary {
    border: 1px #b6cada solid;
    width: 26px;
    height: 26px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    color: #314b60;
    background-color: #d8e3eb;
}

.abtn-primary:hover {
    border: 1px #94b1c9 solid;
    background-color: #ffffff;
    color: #0e161c;
}