.pagination {
    @include reset-list();
    li {
        display: inline-block;
        &:first-child {
            a {
                border-radius: 3px 0 0 3px;
            }
        }
        a {
            display: block;
            padding: .5rem .8rem;
            border: 1px $colorBorder solid;
            border-right-width: 0;
        }
        &.disabled {
            a {
                cursor: not-allowed;
                color: $light;
            }
        }
        &:last-child {
            a {
                border-right-width: 1px;
                border-radius: 0 3px 3px 0;
            }
        }
        &.active {
            a {
                background-color: $colorPrimary;
                color: white;
                border-color: $colorPrimary;
            }
        }
    }
}