$black: #000;
$dark: #333;
$gray:#666;
$light:#999;
$lighter:#f7f7f7;
// A map of breakpoints.
$breakpoints: ( xs: 576px, sm: 768px, md: 992px, lg: 1200px);
// Get the small breakpoint.
$breakpoint: map-get($breakpoints, sm);