h1, h2, h3, h4, h5, h6 {
  color: #333; }

.hidden {
  display: none; }

img {
  max-width: 100%; }

.thead-primary {
  background-color: #563d7c;
  color: #fff; }
  .thead-primary a {
    color: #fff;
    text-decoration: underline; }
    .thead-primary a:hover {
      color: #fff; }

/* loading style */
.loading {
  width: 100%;
  height: 100%;
  background: #16171d;
  opacity: 0.9;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  display: none; }

.loading > div {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px; }

.loading > div > div {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #ff8c00;
  top: 10px;
  left: 10px;
  transform-origin: 20px 20px;
  border-radius: 8px;
  animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1); }

.loading > div > .c2 {
  top: 10px;
  left: auto;
  right: 10px;
  transform-origin: -4px 20px;
  animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1); }

.loading > div > .c3 {
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  transform-origin: -4px -4px;
  animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1); }

.loading > div > .c4 {
  top: auto;
  bottom: 10px;
  transform-origin: 20px -4px;
  animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1); }

@keyframes spin-a {
  0% {
    transform: rotate(90deg); }
  0% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin-b {
  0% {
    transform: rotate(90deg); }
  25% {
    transform: rotate(90deg); }
  25% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin-c {
  0% {
    transform: rotate(90deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin-d {
  0% {
    transform: rotate(90deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

.wrapper {
  display: grid;
  grid-template-columns: 170px auto;
  min-height: 100%;
  overflow: hidden; }

.rightcol {
  position: relative;
  grid-column: 2;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  .rightcol .page-header {
    height: 50px;
    position: sticky;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 0 1rem; }
    .rightcol .page-header .closemenu {
      width: 1.8rem;
      padding-top: .2rem;
      cursor: pointer; }
      .rightcol .page-header .closemenu .link_item {
        height: 2px;
        margin-bottom: 5px;
        background-color: #333;
        transition: all .25s; }
      .rightcol .page-header .closemenu.openav .up {
        width: .8rem;
        margin-left: auto;
        margin-right: 0;
        transform: rotate(45deg) translateX(5px); }
      .rightcol .page-header .closemenu.openav .bot {
        width: .8rem;
        margin-left: auto;
        margin-right: 0;
        transform: rotate(-45deg) translateX(5px); }
    .rightcol .page-header .row {
      height: 100%; }
    .rightcol .page-header .nav-user {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: right; }
      .rightcol .page-header .nav-user li {
        display: inline-block;
        margin-right: 1rem; }

.main-content {
  padding: 20px; }

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch; }

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .flex > * {
    flex: 1; }

.leftcol {
  background-color: #322449;
  grid-column: 1; }
  .leftcol .logo {
    text-align: center;
    text-align: center;
    padding: 15px;
    background-color: #563d7c;
    border-bottom: 1px #3e2c5a solid; }
    .leftcol .logo img {
      max-height: 51px;
      max-width: 100%; }

.navbar {
  height: 50px;
  background-color: #333;
  position: relative; }
  .navbar .navbar-toggler {
    position: absolute;
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    color: white; }
  .navbar .navbar-nav {
    margin: 0;
    padding: 0;
    list-style: none; }
    .navbar .navbar-nav li {
      display: inline-block; }
      .navbar .navbar-nav li a {
        display: block;
        height: 50px;
        line-height: 50px;
        padding: 0 1rem;
        color: #999; }
        .navbar .navbar-nav li a:hover {
          color: white; }
    .navbar .navbar-nav.navbar-nav-right {
      text-align: right; }

nav#menu .mainmenu {
  border-top: 1px #6e4e9e solid;
  margin: 0;
  padding: 0;
  list-style: none; }
  nav#menu .mainmenu > li {
    font-size: .875rem;
    background-color: #563d7c;
    border-bottom: 1px #4a356b solid; }
    nav#menu .mainmenu > li a {
      padding: .7rem .6rem;
      text-decoration: none;
      position: relative;
      display: block;
      color: #beaed7; }
      nav#menu .mainmenu > li a > i {
        margin-right: .3rem; }
      nav#menu .mainmenu > li a i.haschild {
        float: right;
        margin-top: .08rem;
        font-weight: normal;
        font-size: 1rem;
        display: inline-block;
        transition: all .1s; }
      nav#menu .mainmenu > li a:hover {
        color: white; }
        nav#menu .mainmenu > li a:hover i.haschild {
          color: white;
          transform: rotate(90deg); }
    nav#menu .mainmenu > li.active a {
      color: #fff; }
      nav#menu .mainmenu > li.active a:hover {
        color: #fff; }
      nav#menu .mainmenu > li.active a::after {
        display: block;
        content: " ";
        position: absolute;
        top: 1rem;
        right: 0;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #fff; }
    nav#menu .mainmenu > li ul.submenu {
      display: none;
      background-color: #3e2c5a; }
      nav#menu .mainmenu > li ul.submenu li a {
        padding: .5rem .6rem; }
      nav#menu .mainmenu > li ul.submenu li.active a {
        color: #fff; }
        nav#menu .mainmenu > li ul.submenu li.active a::after {
          display: block;
          content: " ";
          position: absolute;
          top: .8rem;
          right: 0;
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 6px solid #fff; }
    nav#menu .mainmenu > li.nav-open {
      background-color: #4a356b; }
      nav#menu .mainmenu > li.nav-open ul.submenu {
        display: block; }
    nav#menu .mainmenu > li.level2 {
      padding-left: 20px;
      display: none;
      background-color: #111; }
      nav#menu .mainmenu > li.level2 a {
        color: #999; }
        nav#menu .mainmenu > li.level2 a:hover {
          color: #fff; }
        nav#menu .mainmenu > li.level2 a.active {
          color: #fff; }

.box {
  background-color: #fff;
  overflow: hidden;
  border-radius: .4rem;
  border: 1px #ccc solid; }
  .box .box-header {
    background-color: #345067;
    color: #fff;
    height: 36px;
    position: relative; }
    .box .box-header h3 {
      margin: 0;
      padding: 0;
      line-height: 36px;
      font-size: 18px;
      font-size: 1.8rem;
      font-weight: normal;
      padding-left: 8px; }

.box .box-header .box .box-header .control {
  position: absolute;
  height: 36px;
  right: 0;
  top: 0; }

.box .box-header .control a {
  display: block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  float: left;
  color: #fff;
  border-left: 1px #49708f solid; }

.box .box-header .control a.compress {
  display: none; }

.box .box-body {
  padding: 1rem; }

.box .box-body .box-toolbar {
  padding: 15px 15px; }

.box .box-body .box-table {
  border-top: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  margin: 0; }

.box .box-body .box-table th {
  background-color: #f7f7f7; }

.box .box-footer {
  padding: 15px 15px 10px;
  border: 1px #ccc solid;
  border-top: none; }

.box .box-footer .pagination {
  margin: 0; }

@media only screen and (max-width: 768px) {
  .box .box-footer .table-pager {
    text-align: center; } }

.box .box-footer .table-pager .pagecount {
  text-align: right; }

@media only screen and (max-width: 768px) {
  .box .box-footer .table-pager .pagecount {
    text-align: center; } }

.box-fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 5000;
  top: 0;
  left: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.abtn {
  border: 1px #d5d5d5 solid;
  width: 26px;
  height: 26px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
  color: #555555;
  background-color: #eeeeee; }

.abtn:hover {
  border: 1px #bbbbbb solid;
  background-color: #ffffff;
  color: #222222; }

.abtn-primary {
  border: 1px #b6cada solid;
  width: 26px;
  height: 26px;
  display: inline-block;
  line-height: 24px;
  text-align: center;
  color: #314b60;
  background-color: #d8e3eb; }

.abtn-primary:hover {
  border: 1px #94b1c9 solid;
  background-color: #ffffff;
  color: #0e161c; }

.menuTree {
  margin: 0;
  padding: 0;
  list-style: none; }
  .menuTree li {
    position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    font-size: 14px;
    position: relative; }
    .menuTree li a {
      color: #ccc;
      font-size: 14px; }
      .menuTree li a:hover {
        color: #007bff; }
    .menuTree li ul {
      list-style: none;
      padding: 0;
      margin: 0 0 0 5px; }
      .menuTree li ul li {
        border-left: 1px #ddd solid;
        padding-left: 25px;
        background: url(../img/line.png) no-repeat left 16px; }
        .menuTree li ul li:before {
          content: " ";
          display: block;
          width: 1rem;
          border-top: 1px #ddd solid;
          position: absolute;
          left: 0;
          top: 1rem;
          z-index: 100; }
    .menuTree li .expmenu {
      margin-right: .3rem;
      position: absolute;
      z-index: 100;
      left: 0;
      top: .4rem; }

.menuTreeRole li {
  padding-top: 3px;
  padding-bottom: 3px; }
  .menuTreeRole li label {
    font-weight: normal; }

.table-vmiddle td {
  vertical-align: middle; }

.validation-summary-errors {
  background-color: #feeded;
  border: 1px #fcd6d6 solid;
  padding: 8px;
  color: #FF263E;
  margin: 0 -15px 15px; }
  .validation-summary-errors ul {
    margin-bottom: 0; }

.btn .iconfont {
  font-size: 14px; }

.btn.btn-primary {
  background-color: #563d7c;
  border-color: #563d7c; }

.card {
  border: 1px #ddd solid; }
  .card .card-header {
    background-color: #f7f7f7; }
  .card .card-footer {
    background-color: #f7f7f7; }

.pagination {
  margin: 0;
  padding: 0;
  list-style: none; }
  .pagination li {
    display: inline-block; }
    .pagination li:first-child a {
      border-radius: 3px 0 0 3px; }
    .pagination li a {
      display: block;
      padding: .5rem .8rem;
      border: 1px #ddd solid;
      border-right-width: 0; }
    .pagination li.disabled a {
      cursor: not-allowed;
      color: #999; }
    .pagination li:last-child a {
      border-right-width: 1px;
      border-radius: 0 3px 3px 0; }
    .pagination li.active a {
      background-color: #563d7c;
      color: white;
      border-color: #563d7c; }

.tag {
  border: 1px #ddd solid;
  padding: .5rem .8rem;
  border-radius: 3px;
  display: inline-block; }

.icon-spin {
  animation: spin 1s linear infinite;
  display: inline-block; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg); } }

.modal-overlay {
  position: fixed;
  z-index: 6000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; }
  .modal-overlay .modal {
    max-width: 450px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); }
    .modal-overlay .modal .modal-header {
      padding: .6rem 1rem;
      border-bottom: 1px #ddd solid;
      position: relative; }
      .modal-overlay .modal .modal-header .btn-close {
        position: absolute;
        right: .4rem;
        top: .6rem;
        z-index: 100;
        display: block;
        padding: 0 .4rem;
        color: #999; }
    .modal-overlay .modal .modal-body {
      padding: 1rem; }
    .modal-overlay .modal .modal-footer {
      border-top: 1px #ddd solid;
      padding: .6rem 1rem;
      text-align: right; }

html {
  height: 100%; }

body {
  height: 100%;
  background: #333;
  font-size: .875rem;
  color: #666666;
  font-family: "Microsoft YaHei", 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; }

a {
  color: #563d7c; }

a:hover {
  text-decoration: none;
  color: #007bff; }

.user-avater {
  padding-top: 8px;
  margin-right: 15px; }
  .user-avater img {
    height: 34px; }

footer.page-footer {
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-size: 11px; }

.badge-primary {
  background-color: #007bff;
  font-weight: normal; }

.dl-horizontal dt {
  width: 80px;
  float: left;
  text-align: right;
  padding: 5px 10px;
  background-color: #f7f7f7;
  min-height: 30px; }

.dl-horizontal dd {
  margin-left: 100px;
  padding: 5px 0;
  min-height: 30px; }
