@model QNZ.Model.Admin.InputModel.FeedbackTypeIM

<form asp-action="Create" data-ajax-begin="onBeginSave" data-ajax-complete="onCompleteSave"
      data-ajax-failure="onFailed" data-ajax-success="onSuccessSave"
      data-ajax="true" data-ajax-method="POST" id="formEq">
    <input asp-for="Id" class="form-control" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" id="btnSave"><i class="fa fa-save"></i> 保存</button>
    </div>
</form>
