.btn-white {
    border: 1px #fff solid;
    color: #fff;
}

.btn-white:hover {
    background-color: #fff;
    color: #333;
}


.btn-black {
    border-color: #333;
    color: #333;
}

.btn-black:hover {
    background-color: #333;
    color: #fff;
}



.btn {
    border: 1px #ddd solid;
    font-size: rem(14);
    display: inline-block;
    border: none;
    padding: .3rem 1.5rem;
    text-align: center;
    color: #666;
    transition: all .25s;
    background-color: #fff;
    border: 1px #666 solid;


    @include respond-above(sm) {
        padding: .4rem 2rem;
        font-size: 1rem;
    }

    @include respond-above(md) {
        padding: .6rem 2.5rem;
        font-size: 1rem;
    }

    @include respond-above(lg) {
        padding: .8rem 3.5rem;
        font-size: 1rem;
    }

    &:hover {
        background-color: darken(#eee, 6%);
        color: #333;
        text-decoration: none;
    }
}

.btn-white {
    border: 1px #fff solid;
    color: $color-primary;
    background-color: #fff;
    &:hover {
        transform: translateX(5px);
        color: $color-primary;  background-color: #fff;
    }
}

.btn-primary {
   
    &:hover {
        background-color: darken($color-primary, 6%);
        color: #fff;
        border-color: #000;
    }
}

.btn-black {
    border-color: #333;
    color: #333;
    &:hover {
        background-color: #333;
        color: #fff;
    }
}

.btn-block {
    width: 100%;
    display: block;
}