@model QNZ.Data.Page
@{
    ViewData["Title"] = "青鸟控制面版模板";
}


    <div class="page page-opensource">

        <div class="container">
            <header class="se-header">
                <h3>开源项目</h3>
                <p>open source</p>
            </header>
        </div>
        <div class="container">
            <ul class="projects">
                <li>
                    <a href="/opensource">
                        QNZCMS
                    </a>
                </li>
                <li>
                    <a href="/opensource/qnzadmin" class="active">
                        QNZAdmin
                    </a>
                </li>
                <li><a href="javascript:void(0);"><del>QNZFinder</del></a></li>
                <li><a href="javascript:void(0);"><del>青鸟数据采集工具</del></a></li>
                <li><a href="javascript:void(0);"><del>QNZOA</del></a></li>

            </ul>
        </div>
        @Html.Raw(System.Net.WebUtility.HtmlDecode(Model.Body))



    </div>

