    <nav id="menu">
        <ul class="mainmenu" id="mainmenu">
            <li>
                <a href="index.html">
                    <i class="iconfont icon-dashboard"></i> 控制面板
                    <div class="arrow-left"></div>
                </a>
            </li>
            <li class="down-nav">
                <a href="#"><i class="iconfont icon-table"></i> 表格 <i class="arrow iconfont icon-down"></i></a>
                <ul class="submenu">
                    <li><a href="table_basic.html">简单表格</a></li>
                    <li><a href="table_adv.html">复杂表格</a></li>
                </ul>
            </li>
            <li class="down-nav">
                <a href="#"><i class="iconfont icon-edit"></i> 表单 <i class="arrow iconfont icon-down"></i></a>
                <ul class="list-unstyled submenu">
                    <li><a href="form_basic.html">基本表单</a></li>
                    <li><a href="form_adv.html">带验证表单</a></li>
                    <li><a href="form_adv_pic.html">表单带文件上传</a></li>
                </ul>
            </li>
            <li><a href="pages.html"><i class="iconfont icon-file-text"></i> 页面管理</a></li>
            <li class="customers"><a href="customers.html"><i class="iconfont icon-customer"></i> 客户管理</a></li>
            <li class="albums"><a href="photos.html"><i class="iconfont icon-image"></i> 相册</a></li>
            <li class="down-nav links">
                <a href="#"><i class="iconfont icon-link"></i> 链接<i class="arrow iconfont icon-down"></i></a>
                <ul class="submenu">
                    <li><a href="links.html">链接列表</a></li>
                    <li><a href="link_categories.html">链接分类</a></li>
                </ul>
            </li>
            <li class="down-nav ortherpage">
                <a href="#"><i class="iconfont icon-file-image"></i> 其它页面 <i class="arrow iconfont icon-down"></i></a>
                <ul class="submenu">
                    <li><a href="../Login.html"><i class="iconfont icon-angle-double-right"></i> 登录页</a></li>
                    <li><a href="../Register.html"><i class="iconfont icon-angle-double-right"></i> 注册页</a></li>
                    <li><a href="../noaccess.html"><i class="iconfont icon-angle-double-right"></i> 无权限页</a></li>
                    <li><a href="../404.html"><i class="iconfont icon-angle-double-right"></i> 404页面</a></li>
                </ul>
            </li>
            <li class="down-nav settings">
                <a href="#"><i class="iconfont icon-setting"></i> 常规设置 <i class="arrow iconfont icon-down"></i></a>
                <ul class="submenu">
                    <li><a href="/admin/general/index"><i class="iconfont icon-home"></i> 站点信息</a></li>
                    <li><a href="/admin/general/company"><i class="iconfont icon-info-circle"></i> 企业信息</a></li>
                    <li><a href="/bbi-admin/Common/Social.aspx"><i class="iconfont icon-twitter"></i> 社交资料</a></li>
                    <li class="hide"><a href="/bbi-admin/Common/MailSettings.aspx"><i class="iconfont icon-envelope-o"></i> 邮箱服务设置</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="closemenu"><a href="#"><i class="iconfont icon-chevron-circle-left"></i></a></div>
