
@{
    ViewData["Title"] = "没有权限";
}

<div class="alert alert-danger mb-5">
    <i class="fa fa-remove"></i> 您没有权限查看此页面。
</div>
<div class="text-center">

    <a href="javascript:void(0);" class="btn btn-outline-secondary" onclick="history.go(-1);"><i class="fa fa-backward"></i> 返回</a>
</div>
