
@{
    ViewData["Title"] = "页面错误";
}

@*<h2>Index</h2>
    <h2>Index</h2>
    <p>Status Code: <b>@ViewBag.StatusCode</b></p>
    <p>OriginalPath: <b>@ViewBag.OriginalPath</b></p>
    <p>OriginalQueryString: <b>@ViewBag.OriginalQueryString</b></p>*@

<div class="alert alert-danger mb-5">
    <i class="fa fa-remove"></i> 此页面有错误，请联系技术员解决。
</div>
<div class="text-center">

    <a href="javascript:void(0);" class="btn btn-outline-secondary" onclick="history.go(-1);"><i class="fa fa-backward"></i> 返回</a>
</div>
