<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <EnableCaching>true</EnableCaching>
  <CacheDuration>30</CacheDuration>
  <PageSize>10</PageSize>
  <FrontPageSize>15</FrontPageSize>
  <ThumbWidth>675</ThumbWidth>
  <ThumbHeight>400</ThumbHeight>
  <ImageWidth>1620</ImageWidth>
  <ImageHeight>430</ImageHeight>
</Settings>