<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <CompanyName>广东德思徕文化传播有限公司</CompanyName>
  <CompanyShortName>德思徕</CompanyShortName>
  <Address>广东省广州市麓苑路42号</Address>
  <ContactMan>Chen</ContactMan>
  <Mobile>13688888888</Mobile>
  <Phone>+020 26268888</Phone>
  <Fax>+020 26268888</Fax>
  <Coordinate>120.649877,27.761329</Coordinate>
  <MailTo>info@geslle.com</MailTo>
  <MailCC>twotong@gmail.com</MailCC>
  <ZipCode></ZipCode>
</Settings>