<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <SiteName>洛菲斯</SiteName>
  <SiteDomainName>http://localhost</SiteDomainName>
  <DeveloperDomainName>http://baidu.com</DeveloperDomainName>
  <Developer>洛菲斯</Developer>
  <WebNumber>粤ICP备14000167号</WebNumber>
  <BaiduSiteID>43021349b41411d3c211d616df2cb12b</BaiduSiteID>
  <GoogleAnalyticsID>43021349b41411d3c211d616df2cb12b</GoogleAnalyticsID>
  <SiteTheme>Default</SiteTheme>
  <Version>SIGCMS MVC 1.50</Version>
  <Developer>荷勒互动</Developer>
  <EnableCaching>true</EnableCaching>
  <DefaultCacheDuration>600</DefaultCacheDuration>
  <CacheDuration>30</CacheDuration>
  <DatabaseBackupDir>/App_Data/Backup</DatabaseBackupDir>
  <IsClose>false</IsClose>
  <CloseInfo>系统升级中</CloseInfo>
  <LoginLogo>/uploads/images/logo_cn.png</LoginLogo>
  <DashboardLogo>/admin/img/logo_proya.png</DashboardLogo>
  <MailTo>13212847@qq.com</MailTo>
</Settings>