<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <EnableCaching>true</EnableCaching>
  <CacheDuration>30</CacheDuration>
  <PageSize>10</PageSize>
  <FrontPageSize>12</FrontPageSize>
  <ThumbWidth>350</ThumbWidth>
  <ThumbHeight>350</ThumbHeight>
  <ImageWidth>860</ImageWidth>
  <ImageHeight>620</ImageHeight>
  <CategoryImageWidth>1615</CategoryImageWidth>
  <CategoryImageHeight>486</CategoryImageHeight>
</Settings>