<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <From>183506403@qq.com</From>
  <SmtpServer>smtp.qq.com</SmtpServer>
  <Port>25</Port>
  <UserName>183506403@qq.com</UserName>
  <Password>afzsw1Sq+jDSfYZYPe9HYEP0dIyjthjGAKYCgaPOe3o=</Password>
  <EnableSsl>false</EnableSsl>
  <IconClass>glyphicon glyphicon-envelope</IconClass>
</Settings>