
@{
    ViewData["Title"] = "科技成果";
}
    <div class="banner banner-achievements">
        <h3>科技成果</h3>
        <h4>Scientific Achievement</h4>
        <hr />
    
    </div>

    <div class="page page-achievements clearfix">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-6 col-md-4 col-lg">
                    <a href="#" class="item">
                        <img src="~/img/ah01.jpg" alt="" />
                        <h3>电子信息领域</h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <a href="#" class="item">
                        <img src="~/img/ah02.jpg" alt="" />
                        <h3>
                            新能源与环保技术领域
                        </h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <a href="#" class="item">
                        <img src="~/img/ah03.jpg" alt="" />
                        <h3>
                            新材料与生物医药领域
                        </h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <a href="#" class="item">
                        <img src="~/img/ah04.jpg" alt="" />
                        <h3>
                            光机电与先进制造领域
                        </h3>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <a href="#" class="item">
                        <img src="~/img/ah05.jpg" alt="" />
                        <h3>
                            其他战略新兴领域
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>