@model PostCategoryIM
@{
    ViewData["Title"] = "编辑分类";
}


    <form asp-action="Edit" data-ajax-begin="onBeginSave" data-ajax-complete="onCompleteSave"
          data-ajax-failure="onFailed" data-ajax-success="onSuccessSave"
          data-ajax="true" data-ajax-method="POST">
        
        <div class="card">
            <header class="card-header">
                <h3 class="card-title">
                    @ViewData["Title"]
                </h3>
            </header>
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" type="hidden"/>
                <section class="form-h">
                   
               
                
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" ></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>
                        
                     
                        
                        <div class="form-group">
                            <label asp-for="Importance" class="control-label"></label>
                            <input asp-for="Importance" class="form-control" value="0" />
                            <span asp-validation-for="Importance"></span>
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Active" class="control-label"></label>
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Active" checked type="checkbox"/> 
                                </label>
                            </div>
                            <span asp-validation-for="Active"></span>
                        </div>
                        
                
                    
                </section>

            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnSave"><i class="iconfont icon-save"></i> 保存</button>
                <button type="button" class="btn btn-secondary" id="btnBack"><i class="iconfont icon-left"></i> 返回</button>
            </div>
        </div>
    </form>



@section header{

   
}

@section footer {

    <script src="~/js/lib/jquery/plugins/jquery.validate.min.js"></script>
    <script src="~/js/lib/jquery/plugins/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/lib/jquery/plugins/jquery.unobtrusive-ajax.min.js"></script>


    <script>
        var url = "@Url.Action("Index")";
        
      
       
        function onFailed() {
            toastr.error("操作失败！");
        }

        function onBeginSave() {
            $("#btnSave i").removeClass("icon-save").addClass("icon-sync icon-spin");
        }
        function onCompleteSave() {
            $("#btnSave i").removeClass("icon-sync icon-spin").addClass("icon-save");
        }

    
        
        function onSuccessSave(data) {
            if (data.status === 1) {
                toastr.success(data.message);
                location.href = url;

            }
            if (data.status === 2) {
                toastr.error(data.message);
            }
            //Common.ShowBoxWithFuncBack(data, title, submitSuccess);
        }




        $(function () {
            
          

            $('#btnBack').on('click',
                function() {
                    location.href = url;
                });


        });
    </script>
}