@model QNZ.Model.ViewModel.NavigationCategoryIM
@{
    Layout = "_LayoutPlugins";
    ViewData["Title"] = "编辑导航组";
}


<form asp-action="SaveCategory" data-ajax-begin="onBeginSave" data-ajax-complete="onCompleteSave"
      data-ajax-failure="onFailed" data-ajax-success="onSuccessSave"
      data-ajax="true" data-ajax-method="POST">
    <div class="card">
        <header class="card-header">
            <div class="row">
                <div class="col">@ViewData["Title"]</div>
                <div class="col-auto">
                    <div class="control"><a class="expand" href="#"><i class="iconfont icon-fullscreen"></i></a><a class="compress" href="#"><i class="iconfont icon-shrink"></i></a></div>
                </div>
            </div>
        </header>
        <section class="card-body">

            <div class="row">

                <div class="col-md-4">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Importance" class="control-label"></label>
                        <input asp-for="Importance" class="form-control" />
                        <span asp-validation-for="Importance" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                            </label>
                        </div>
                    </div>

                    <div class="spinner-border" role="status" style="display:none;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>


            </div>
        </section>
        <footer class="card-footer text-center">
            <button type="submit" class="btn btn-primary" id="btnSave"><i class="iconfont icon-save"></i> 保存</button>
            <a asp-action="Index" class="btn btn-secondary"><i class="iconfont icon-left"></i> 返回</a>
        </footer>
    </div>
</form>

@section header{
    <style>
        .thumb {
            height: 160px;
            margin: 0 auto 1rem;
            padding-top: 3.5rem;
            cursor: pointer;
            background-color: #ddd;
            text-align: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
    </style>

}

@section footer {

    <script src="~/js/lib/jquery/plugins/jquery.validate.min.js"></script>
    <script src="~/js/lib/jquery/plugins/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/lib/jquery/plugins/jquery.unobtrusive-ajax.min.js"></script>


    <script>



        function onFailed() {
            toastr.error("操作失败！");
        }

    
        function onBeginSave() {
            $(".spinner-border").fadeIn();

        }
        function onCompleteSave() {
            $(".spinner-border").fadeOut();
        }



        function onSuccessSave(data) {
            if (data.status === 1) {
                var url = "@Url.Action("Index")";
                toastr.success(data.message);
                location.href = url;

            }
            if (data.status === 2) {
                toastr.error(data.message);
            }
            //Common.ShowBoxWithFuncBack(data, title, submitSuccess);

        }



        $(function () {








        });
    </script>
}
