
@{
    ViewData["Title"] = "海外合作";
}

<div class="banner banner-cooperation">
    <h3>海外合作</h3>
    <h4>Overseas Cooperation</h4>
    <hr />
    <nav>
        <a href="#">简介</a>
        <a href="#">新闻动态</a>
        <a href="#">核心业务</a>
        <a href="#">联系我们</a>
    </nav>
</div>

<div class="page page-cooperation">
    <section class="s1 container">
        <p>
            深圳清华大学研究院以海外合作部（Department of Overseas Cooperation, DOC）为核心部门实施国际化战略。
            依托自主搭建的广泛海外创新资源网络与清华大学和深圳清华大学研究院丰富的国内网络资源和完整的科技创新体系，主要进
            行国际技术交流与跨境孵化加速，面向政府、科研机构和企业提供国际资源对接、技术转移咨询等专业服务。下设的深圳清华国际
            技术转移中心成立于2002年，是国内专门从事国际技术转移的先驱，被科技部授牌为国家技术转移示范基地。
            海外合作部拥有一支兼具专业化和国际化的高素质团队。其中海外中心主任均具有工科背景和所在国多年学习工作经历，拥有丰
            富的技术和商业资源，熟悉掌握当地商业规则和技术转移运作，对项目具有综合的判断和运作能力。国内支持团队则从研发合作、
            投资合作、项目/人才落地服务等层面提供支撑。
        </p>

    </section>
    <section class="s2 container">
        <div class="title title-section">
            <h2>新闻动态</h2>
        </div>

        <div class="newslist">
            <div class="row">
                <div class="col-md">
                    <a href="#" class="item">
                        <div class="pic">
                            <img src="/img/temp/n3.jpg" alt="" />
                        </div>
                        <div class="des">
                            <div class="time">
                                <div class="date">15</div>
                                <div class="month">

                                    2019.8
                                </div>
                            </div>
                            <h3>
                                与俄罗斯莫斯科研究中心开展新年活动（如果字太……
                            </h3>
                            <p>
                                在中国新年到来之际，莫斯科研究中心共聚一堂欢度新年，开展了“书中的中国春节”系列活动……
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md">
                    <a href="#" class="item">
                        <div class="pic">
                            <img src="/img/temp/n4.jpg" alt="" />
                        </div>
                        <div class="des">
                            <div class="time">
                                <div class="date">15</div>
                                <div class="month">

                                    2019.8
                                </div>
                            </div>
                            <h3>
                                德国科隆研究中心项目展示
                            </h3>
                            <p>
                                科隆研究中心在新兴和尖端研究领域有着得天独厚的优势。由于该中心一流的教学质量和科研水平……
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md">
                    <a href="#" class="item">
                        <div class="pic">
                            <img src="/img/temp/n2.jpg" alt="" />
                        </div>
                        <div class="des">
                            <div class="time">
                                <div class="date">15</div>
                                <div class="month">

                                    2019.8
                                </div>
                            </div>
                            <h3>
                                北美创业中心落成
                            </h3>
                            <p>
                                深圳清华大学研究院在硅谷创立了深圳清华大学研究院北美创新创业中心。中心致力于……
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="s3 container">
        <div class="title title-section">
            <h2>核心业务</h2>
        </div>

        <div class="se1">
            <img src="/img/coo_01.jpg" alt="" />
        </div>
        <h3>
            科技创新服务
        </h3>
        <div class="se1">
            <img src="/img/coo_02.jpg" alt="" />
        </div>
        <div class="se1">
            <img src="/img/coo_03.jpg" alt="" />
        </div>
        <div class="se1">
            <img src="/img/coo_04.jpg" alt="" />
        </div>
    </section>
    <section class="s4">

        <div class="container">
            <h3>
                科技创新服务
            </h3>
            <div class="row list1 justify-content-md-center">
                <div class="col-auto">
                    <img src="~/img/coo_5.jpg" alt="" />
                </div>
                <div class="col-auto">
                    <img src="~/img/coo_06.jpg" alt="" />
                </div>
                <div class="col-auto">
                    <img src="~/img/coo_07.jpg" alt="" />
                </div>
                <div class="col-auto">
                    <img src="~/img/coo_08.jpg" alt="" />
                </div>
            </div>
            <h4 class="t1">
                考察交流
            </h4>
            <div class="row list2 justify-content-md-center">
                <div class="col-auto">
                    <img src="~/img/coo_09.jpg" alt="" />
                </div>
                <div class="col-auto">
                    <img src="~/img/coo_10.jpg" alt="" />
                </div>
                <div class="col-auto">
                    <img src="~/img/coo_11.jpg" alt="" />
                </div>
                <div class="col-auto">
                    <img src="~/img/coo_12.jpg" alt="" />
                </div>
            </div>
            <h4 class="t1">
                创新创业活动
            </h4>
        </div>
    </section>
    <section class="s5">
        <div class="container">
            <div class="title title-section">
                <h2>核心业务</h2>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="formcontact">
                        <div class="row">
                            <div class="col-md">
                                <div class="control-group">
                                    <input type="text" name="name" placeholder="姓名" />
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="control-group">
                                    <input type="text" name="name" placeholder="邮箱" />
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="control-group">
                                    <input type="text" name="name" placeholder="联系电话/微信号" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <div class="control-group">
                                    <input type="text" name="name" placeholder="主题" />
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="control-group">
                                    <input type="text" name="name" placeholder="公司" />
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <textarea name="message" rows="5" placeholder="留言"></textarea>
                        </div>
                        <div class="actions">
                            <button type="submit" class="btn btn-primary">发送</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <section class="map_canvas  wow slideInUp" id="map_canvas">&nbsp;</section>
                </div>
            </div>

            <div class="contact">
                <h3 class="title">
                    如果你有任何疑问，欢迎联系我们
                </h3>
                <p>
                    深圳清华大学研究院   海外合作部 <br />
                    广东省深圳市南山区高新南七道19号深圳清华大学研究院大楼A411室
                </p>
                <ul>
                    <li>
                      <i class="iconfont icon-email"></i> <a href="mailto:did@tsinghua-sz.org">did@tsinghua-sz.org</a>                    
                    </li>
                    <li><i class="iconfont icon-phone"></i>  0755-26551312</li>
                </ul>
            </div>
        </div>

    </section>
</div>



@section Scripts{
    <script src="https://api.map.baidu.com/api?v=2.0&ak=G7h0sKsr60IFU3OrHRmKTRzD"></script>
    <script>

         // 百度地图API功能
         var map = new BMap.Map("map_canvas");


        map.addControl(new BMap.NavigationControl());
        map.enableScrollWheelZoom(); //启用滚轮放大缩小，默认禁用
        map.enableContinuousZoom(); //启用地图惯性拖拽，默认禁用

        map.centerAndZoom(new BMap.Point(113.94924,22.538721), 16);
        var point = new BMap.Point(113.94924,22.538721);

        //var myIcon = new BMap.Icon("/Content/img/marker.png", new BMap.Size(132, 132));
        //var marker1 = new BMap.Marker(point, { icon: myIcon });  // 创建标注
        var marker1 = new BMap.Marker(point);

        map.addOverlay(marker1); // 将标注添加到地图中
        // marker1.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
        var sContent =
            "<h4 style='margin:0 0 5px 0;padding:0.2em 0'>深圳清华大学研究院</h4>" +
            "<p>地址：深圳清华大学研究院大楼A402室<br/>" +
            "电话：010-80716680</p>" +
            "</div>";


        //创建信息窗口
        //var infoWindow1 = new BMap.InfoWindow(sContent);
        //marker1.addEventListener("click", function () { this.openInfoWindow(infoWindow1); });
        //marker1.openInfoWindow(infoWindow1);

        $(document).ready(function() {


        });
    </script>
}