@model OrganizationIM

@{
    ViewData["Title"] =  Model.Id>0 ? "编辑" :"创建";
}



    <form asp-action="Edit" data-ajax-begin="onBeginSave" data-ajax-complete="onCompleteSave"
          data-ajax-failure="onFailed" data-ajax-success="onSuccessSave"
          data-ajax="true" data-ajax-method="POST">

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <div class="card-title-v1"><i class="iconfont icon-team"></i>@ViewData["Title"]</div>
                    </div>
                    <div class="col-auto">
                        <div class="control"><a class="expand" href="#"><i class="iconfont icon-fullscreen"></i></a><a class="compress" href="#"><i class="iconfont icon-shrink"></i></a></div>
                    </div>
                </div>
              
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="Id" />


                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Alias" class="control-label"></label>
                            <input asp-for="Alias" class="form-control" />
                            <span asp-validation-for="Alias" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Importance" class="control-label"></label>
                            <input asp-for="Importance" class="form-control" />
                            <span asp-validation-for="Importance" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                                </label>
                            </div>
                        </div>
             


                    </div>
                    <div class="col-md-auto">
                        <div class="card" style="width:320px;">
                            <div class="card-header text-center">
                                SEO
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="SEOTitle" class="control-label"></label>
                                    <input asp-for="SEOTitle" class="form-control" />
                                    <span asp-validation-for="SEOTitle" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SEOKeywords" class="control-label"></label>
                                    <input asp-for="SEOKeywords" class="form-control" />
                                    <span asp-validation-for="SEOKeywords" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SEODescription" class="control-label"></label>
                                    <textarea asp-for="SEODescription" class="form-control"></textarea>
                                    <span asp-validation-for="SEODescription" class="text-danger"></span>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary" id="btnSave"><i class="iconfont icon-save"></i> 保存</button>
                <a asp-action="Index" class="btn btn-secondary"><i class="iconfont icon-arrowleft"></i> 返回</a>
            </div>
        </div>
        
    </form>



@section header{


}

@section footer {

    <script src="~/js/lib/jquery/plugins/jquery.validate.min.js"></script>
    <script src="~/js/lib/jquery/plugins/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/lib/jquery/plugins/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/plugins/holder/holder.min.js"></script>

    <script>

          function SetThumbnail(fileUrl) {

            $('#imgImageUrl').attr("src",fileUrl);
            $('#ImageUrl').val(fileUrl);


        }


        var modelName = "代理商";
        function onFailed() {
            toastr.error("操作失败！");
        }

        function onBeginSave() {
            var htmlCode = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  提交中...'
            $("#btnSave").html(htmlCode);
        }
        function onCompleteSave() {
            var htmlCode = '<i class="iconfont icon-save"></i> 保存';
            $("#btnSave").html(htmlCode);
        }


        function onSuccessSave(data) {
            if (data.status === 1) {
                var url = "@Url.Action("Index")";
                toastr.success(data.message);
               // location.href = url;

            }
            if (data.status === 2) {
                toastr.error(data.message);
            }
            //Common.ShowBoxWithFuncBack(data, title, submitSuccess);

        }



        $(function () {


            $("#btnImageUrl").on("click", function () {
                QNZ.selectActionFunction = SetThumbnail;
                QNZ.open();

            });




        });
    </script>
}