@model JobPageVM
@{
    var pageMeta = (PageMeta)ViewData["PageMeta"];
    ViewData["Title"] = pageMeta != null ? pageMeta.Title : "校园招聘";

}
@section Header{
    @if (pageMeta != null)
    {
        <meta name="keywords" content="@pageMeta.Keywords">
        <meta name="description" content="@pageMeta.Description">
    }

}
@await Component.InvokeAsync("Banner", new { code = "A1005" })

<div class="bcsubnav">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                @await Component.InvokeAsync("Breadcrumb", new { categoryId = 1 })
            </div>
            <div class="col-lg-auto">
                @await Component.InvokeAsync("PageSubNav", new { categoryId = 1, title = "人力资源" })
            </div>
        </div>
    </div>
</div>
<div class="page page-jobs">
    <section class="s1 container">
        <div class="title-section wow fadeInUp">
            <h2 class="text-center">校园招聘</h2>
        </div>
        <div class="filter">
            <select class="categories text30" asp-for="@Model.BranchId" asp-items="@((SelectList)ViewData["Branches"])">
                <option value="0">请按公司筛选</option>
            </select>
        </div>

        <div class="joblist">
            @if (Model.Jobs != null)
            {
                foreach (var item in Model.Jobs)
                {
                    await Html.PartialAsync("_JobItem", item);
                }
            }
            else
            {
            <div class="alert alert-info">
                暂无招聘岗位
            </div>
            }
        </div>
    </section>
</div>

@section Scripts{

    <script>
        $('.joblist .box-header').click(function (e) {
            //e.preventdefault();
            $(this).next('.box-body').slideToggle();
            $(this).closest(".box").toggleClass('open');
        })

        $(function (e) {
            $("#BranchId").change(function (e) {
                var bid = $(this).val();
                location.href = "/about/campus?bid=" + bid;
            })
        })
    </script>
}