
@{
    ViewData["Title"] = "关于我们";
}

    <div class="banner banner-about">
        <h3>关于研究院</h3>
        <h4>About</h4>
        <hr />
        <nav>
            <a href="/about#s1">院情简介</a>
               <a href="/about#s4">产学研</a>
               <a href="/about#s5">目标理念</a>
              <a href="/about#s6">荣誉与责任</a>
             <a href="/about#s7">加入我们</a>           
        </nav>
    </div>
    <div class="page page-about">

        <section class="s1">
            <div class="container">
                <div class="title title-section">
                    <h2>院情简介</h2>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="txt">
                            <p>
                                深圳清华大学研究院是深圳市政府和清华大学于1996年12月共建的、以企业化方式运作的事业单位。研究院坐落于深圳市南山区高新技术产业园南区。
                            </p>
                            <p>
                                20世纪90年代初期，支撑深圳经济发展的加工贸易业出现严重滑坡，促使深圳市践行创新发展战略，寻找科技资源以支撑高新技术产业发展，力求突破技术缺乏、人才缺乏的制约；同一时期，国务院提出了“科技工作面向国民经济主战场”的口号，号召强化技术开发和推广，加速科技成果商品化、产业化的进程。为了在高校和企业之间、科研成果和市场产品之间建设桥梁，清华大学与深圳市政府创建了深圳清华大学研究院，其战略目标为“服务于清华大学的科技成果转化、服务于深圳的社会经济发展”，从此开启了中国新型科研机构的崭新探索。
                            </p>
                        </div>
                    </div>
                    <div class="col-md-auto">
                        <figure>
                            <img src="/img/about_01.jpg" alt="1996年12月21日，研究院成立签字仪式" />
                            <figcaption>1996年12月21日，研究院成立签字仪式</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-auto">
                        <figure>
                            <img src="/img/about_02.jpg" alt="1997年4月20日，邹家华、胡启立、曾培炎出席研究院奠基典礼" />
                            <figcaption>
                                1997年4月20日，邹家华、胡启立、曾培炎出席研究院奠基典礼
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md">
                        <div class="txt1">
                            <p>
                                研究院首创“四不像”创新体制：既是大学又不完全像大学，既是科研机构又不完全像科研院所，既是企业又不完全像企业，既是事业单位又不完全像事业单位；形成了研发平台、人才培养、投资孵化、创新基地、科技金融和海外合作六大功能板块，在探索把科研成果转化融入企业孵化的新途径中，努力把科技经济“两张皮”贴在创新创业企业的载体上。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s2">
            <div class="txt">
                <div class="row">
                    <div class="col-4">
                        <div class="item">
                            <div class="num">3</div>
                            <p>国家级奖项</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="num">5</div>
                            <p>省部级奖项</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="num">7</div>
                            <p>市级奖项</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="num">2500+</div>
                            <p>累计孵化企业</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="num">400+</div>
                            <p>投资企业</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="item">
                            <div class="num">20+</div>
                            <p>培育上市公司</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s3 container">

            <div class="row">
                <div class="col-md">
                    <div class="txt">
                        <p>
                            研究院累积投入9亿多元，成立了面向战略性新兴产业的40多个实验室和研发中心，拥有包括国内外院士7名、973首席科学家5名在内的数百人的研发团队，其中五支队伍获孔雀计划支持；累计孵化企业2500多家，培养上市公司21家；在珠三角地区成立了一批创新中心及孵化基地；为中小微科技企业提供“一揽子”科技金融支持，用投贷结合、投保结合等创新方式为科技企业提供服务；先后创立北美（硅谷）、英国、俄罗斯、德国、以色列、美东（波士顿）、日本等七个海外中心，引进国际人才和高水平科技项目，在国际技术转移领域进行有益探索。
                        </p>
                        <p>
                            因对广东省及深圳市的科技经济发展做出了卓越贡献，“深圳清华大学研究院产学研深度融合的科技创新孵化体系建设”项目于2015年获得广东省科学技术奖特等奖。
                        </p>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="pic">
                        <img src="~/img/about_03.jpg" alt="" />
                    </div>
                </div>
            </div>
        </section>
        <section class="s4" id="s4">
            <div class="container">
                <div class="title title-section">
                    <h2>产学研深度融合的科技创新孵化体系</h2>
                </div>
                <img src="/img/jiagou.png" alt="组织框架" />
            </div>
        </section>

        <section class="s5" id="s5">
            <div class="container">
                <div class="title title-section">
                    <h2>目标理念</h2>
                </div>
                <div class="box">
                    <h3 class="title-v1">
                        四个定位
                    </h3>
                    <div class="row">
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_01.png" alt="" />
                                </div>
                                <h4>科技研发</h4>
                                <p>推出自主创新应用成果</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_02.png" alt="" />
                                </div>
                                <h4>成果转化</h4>
                                <p>加速科技成果产业化</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_03.png" alt="" />
                                </div>
                                <h4>人才培养</h4>
                                <p>培养高层次人才</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_04.png" alt="" />
                                </div>
                                <h4>企业孵化</h4>
                                <p>孵化高新技术企业</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <h3 class="title-v1">
                        四个结合
                    </h3>
                    <div class="row">
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_05.png" alt="" />
                                </div>
                                <h4>学校与地方</h4>

                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_06.png" alt="" />
                                </div>
                                <h4>研发与孵化</h4>

                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_07.png" alt="" />
                                </div>
                                <h4>科技与金融</h4>

                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_08.png" alt="" />
                                </div>
                                <h4>国内与国外</h4>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="box">
                    <h3 class="title-v1">
                        体制创新
                    </h3>
                    <div class="row">
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_09.png" alt="" />
                                </div>
                                <h4>文化不同</h4>
                                <p>
                                    既是大学<br />
                                    又不完全像大学
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_10.png" alt="" />
                                </div>
                                <h4>目标不同</h4>
                                <p>
                                    既是企业<br />
                                    又不完全像企业
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_11.png" alt="" />
                                </div>
                                <h4>功能不同</h4>
                                <p>
                                    既是研究机构<br />
                                    又不完全像科研院所
                                </p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="item">
                                <div class="icon">
                                    <img src="~/img/icon_12.png" alt="" />
                                </div>
                                <h4>机制不同</h4>
                                <p>
                                    既是事业单位<br />
                                    又不完全像事业单位
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box1">
                    <h3 class="title-v1">
                        机制创新
                    </h3>
                    <div class="box2">
                        <div class="row">
                            <div class="col">
                                <div class="item">

                                    <h4>投入机制</h4>
                                    <ul>
                                        <li>
                                            无政府拨款
                                        </li>
                                        <li>
                                            依靠市场
                                        </li>
                                        <li>滚动发展</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col">
                                <div class="item">

                                    <h4>用人机制</h4>
                                    <ul>
                                        <li>
                                            无事业编制
                                        </li>
                                        <li>
                                            全员聘用
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="item">

                                    <h4>激励机制</h4>
                                    <ul>
                                        <li>
                                            研发团队分享技术股权

                                        </li>
                                        <li>
                                            管理团队合法持有股权
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="s6" id="s6">
            <div class="container">
                <div class="title title-section">
                    <h2>荣誉与责任</h2>
                </div>
                <h3 class="title-v1">
                    应对重大挑战，获得多方肯定
                </h3>

                <div class="row">
                    <div class="col-md-auto mr-auto">
                        <div class="item">
                            <div class="pic">
                                <img src="~/img/about_04.jpg" alt="为抗击非典研制红外测温仪" />
                            </div>
                            <div class="title">
                                <div class="row">
                                    <div class="col">
                                        为抗击非典研制红外测温仪
                                    </div>
                                    <div class="col-auto">
                                        2003年
                                    </div>
                                </div>
                            </div>
                            <div class="des">
                                <ul>
                                    <li>
                                        2003年4月11日，时任总书记胡锦涛向研究院下达研制红外测温仪的指示
                                    </li>
                                    <li>
                                        4月20日装机试用， 4月23日在罗湖口岸正式规模化启用，为抗击非典做出重要贡献
                                    </li>
                                    <li>
                                        获国家科学进步二等奖
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-auto">
                        <div class="item">
                            <div class="pic">
                                <img src="~/img/about_05.jpg" alt="中组部干部学习培训材料教材《自主创新》" />
                            </div>
                            <div class="title">
                                <div class="row">
                                    <div class="col">
                                        中组部干部学习培训材料教材《自主创新》
                                    </div>
                                    <div class="col-auto">
                                        2011年
                                    </div>
                                </div>
                            </div>
                            <div class="des">
                                <ul>
                                    <li>
                                        作为产学研合作创新典型案例，列入《科学发展主题案例》的《自主创新》分册•
                                    </li>
                                    <li>
                                        出版于2011年9月，胡锦涛总书记亲笔作序，编审指导委员会主任为时任中组部部长李源潮

                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-auto mr-auto">
                        <div class="item">
                            <div class="pic">
                                <img src="~/img/about_06.jpg" alt="广东省科学技术奖特等奖" />
                            </div>
                            <div class="title">
                                <div class="row">
                                    <div class="col">
                                        广东省科学技术奖特等奖
                                    </div>
                                    <div class="col-auto">
                                        2015年
                                    </div>
                                </div>
                            </div>
                            <div class="des">
                                <ul>
                                    <li>
                                        颁给“深圳清华大学研究院产学研深度融合的科技创新孵化体系建设”项目

                                    </li>
                                    <li>
                                        深研院是继深圳市人民政府、南山区人民政府之后深圳市第三个获得广东省科学技术最高奖的单位
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-auto">
                        <div class="item">
                            <div class="pic">
                                <img src="~/img/about_07.jpg" alt=" 为抗击非典研制红外测温仪" />
                            </div>
                            <div class="title">
                                <div class="row">
                                    <div class="col">
                                        为抗击非典研制红外测温仪
                                    </div>
                                    <div class="col-auto">
                                        2016年
                                    </div>
                                </div>
                            </div>
                            <div class="des">
                                <ul>
                                    <li>
                                        2016年10月19日，作为深圳新型研发机构典型代表，受邀同深圳市政府一起分享创新经验
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="s7" id="s7">
            <div class="container">
                <div class="title title-section">
                    <h2>加入我们</h2>
                </div>
               

                <div class="row">
                    <div class="col-md">
                        <div class="item">
                            <img src="/img/about_08.jpg" alt="科研" />
                            <div class="txt">
                                <p>科研</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="item">
                            <img src="/img/about_09.jpg" alt="博士后" />
                            <div class="txt">
                                <p>博士后</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="item">
                            <img src="/img/about_10.jpg" alt="职能" />
                            <div class="txt">
                                <p>职能</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

